:root {
    --bs-red: #dc3545;
    --bs-green: #198754;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.025);
    --bs-gray-400: #ced4da;
    --bs-light: #f8f9fa;
}

.widget-exchange-rates-table .w-100 {
    width: 100%;
}
.widget-exchange-rates-table .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.widget-exchange-rates-table caption {
    caption-side: bottom;
    font-weight: normal;
}
.widget-exchange-rates-table table {
    font-size: 18px !important;
    margin: 0;
    width: auto;
    vertical-align: top;
}
.widget-exchange-rates-table table thead {
    background-color: var(--bs-table-striped-bg);
}
.widget-exchange-rates-table table td,
.widget-exchange-rates-table table th,
.widget-exchange-rates-table table caption {
    padding: 8px !important;
}
.widget-exchange-rates-table table caption {
    background-color: transparent !important;
}
.widget-exchange-rates-table table img {
    display: inline-block !important;
}
.widget-exchange-rates-table table tr {
    border-bottom: solid var(--bs-table-striped-bg) 1px !important;
}
.widget-exchange-rates-table table td,
.widget-exchange-rates-table table th {
    border: solid var(--bs-table-striped-bg) 1px !important;
}
.widget-exchange-rates-table table.table-border {
    border: solid var(--bs-table-striped-bg) 2px;
}
.widget-exchange-rates-table div {
    line-height: 15px !important;
}
.widget-exchange-rates-table img {
    height: fit-content;
}
.widget-exchange-rates-table .small {
    color:var(--bs-gray-400);
    font-size: small;
}
.widget-exchange-rates-table .break {
	width: 100%;
}
.widget-exchange-rates-table .text-element {
    display: table;
    table-layout: fixed;
}
.widget-exchange-rates-table .text-truncate {
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.widget-exchange-rates-table .d-flex,
.widget-exchange-rates-shortcode-badge .d-flex {
    display: flex;
    align-items: center;
}
.widget-exchange-rates-table .d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.widget-exchange-rates-table .text-center {
    text-align: center;
}
.widget-exchange-rates-table .table-danger {
    color: var(--bs-red);
}
.widget-exchange-rates-table .table-success {
    color: var(--bs-green);
}
.widget-exchange-rates-table table td {
    white-space: nowrap;
}
.widget-exchange-rates-table .text-right {
    text-align: right;
}
.widget-exchange-rates-table .active {
    background-color: var(--bs-table-striped-bg);
}
.widget-exchange-rates-table input {
    border: 0;
    padding: 0;
    background-color: transparent !important;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    text-align: right;
    width: 100%;
}
.widget-exchange-rates-table input:focus {
    outline: none;
}

.exchange-rates-sign {
    padding: 0;
    margin: 0;
    font-size: 15px !important;
    justify-content:flex-end;
}

.exchange-rates-caption-button {
    cursor: pointer;
}
.widget-exchange-rates-shortcode-badge a,
.widget-exchange-rates-table a {
    text-decoration: none;
}
.exchange-rates-info-caption {
    background-color: var(--bs-light);
    padding: 8px !important;
    border: var(--bs-gray-400) solid 1px;
    display: none;
    border-radius: 5px !important;
    z-index: 99999;
    text-align: left;
    margin-top: 8px;
}
.exchange-rates-info-caption p:last-child
{
    margin-bottom: 0;
}


.widget-exchange-rates-shortcode-badge 
.badge-leaders {
  padding: 0;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex!important;
    align-items: center;
}

  .widget-exchange-rates-shortcode-badge .badge-leaders span:first-child {
    display: inline-flex;
    padding:0 5px;
    text-align: start;
    flex: 1 1 auto!important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: center;
  }
  .widget-exchange-rates-shortcode-badge .badge-leaders span + span {

  text-align: end;
    padding:0 5px;
    flex: 1 1 auto!important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }