/* Main - Style start */
:root {
    --bs-red: #dc3545;
    --bs-green: #198754;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.025);
    --bs-light: #f8f9fa;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --lt-color-gray-900:  #111213;
    --lt-color-gray-700:  #2f3237;
    --bs-gray-400: #ced4da;
    --bs-white: #fff;
}
.exchange-rates {
    border: none !important;
    padding: 0 !important;
}
.exchange-rates .border {
    border: var(--bs-gray-400) solid 2px!important;
    margin-bottom: 8px;
}
.exchange-rates .d-flex {
    display: flex;
    align-items: center;
}
.exchange-rates .d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.exchange-rates .text-center {
    text-align: center;
}
/* Main - Style end */

/* Widget Currency Table - Style start */
.exchange-rates .widget-exchange-rates-table .w-100 {
    width: 100%;
}
.exchange-rates .widget-exchange-rates-table .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.exchange-rates .widget-exchange-rates-table caption {
    caption-side: bottom;
    font-weight: normal;
}
.exchange-rates .widget-exchange-rates-table table {
    font-size: 18px !important;
    margin: 0;
    width: auto;
    vertical-align: top;
    border-collapse: collapse;
}
.exchange-rates .widget-exchange-rates-table table thead {
    background-color: var(--bs-table-striped-bg);
}
.exchange-rates .widget-exchange-rates-table table td,
.exchange-rates .widget-exchange-rates-table table th,
.exchange-rates .widget-exchange-rates-table table caption {
    padding: 8px !important;
}
.exchange-rates .widget-exchange-rates-table table caption {
    background-color: transparent !important;
}
.exchange-rates .widget-exchange-rates-table table img {
    display: inline-block !important;
}
.exchange-rates .widget-exchange-rates-table table tr {
    border-bottom: solid var(--bs-table-striped-bg) 1px !important;
}
.exchange-rates .widget-exchange-rates-table table td,
.exchange-rates .widget-exchange-rates-table table th {
    border: solid var(--bs-table-striped-bg) 1px !important;
}
.exchange-rates .widget-exchange-rates-table table.table-border {
    border: solid var(--bs-table-striped-bg) 2px;
}
.exchange-rates .widget-exchange-rates-table div {
    line-height: 15px !important;
}
.exchange-rates .widget-exchange-rates-table img {
    height: fit-content;
}
.exchange-rates .widget-exchange-rates-table .small {
    color:var(--bs-gray-400);
    font-size: small;
}
.exchange-rates .widget-exchange-rates-table .break {
	width: 100%;
}
.widget-exchange-rates-table .text-element {
    display: table;
    table-layout: fixed;
}
.exchange-rates .widget-exchange-rates-table .text-truncate {
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.exchange-rates .widget-exchange-rates-table .table-danger {
    color: var(--bs-red);
}
.exchange-rates .widget-exchange-rates-table .table-success {
    color: var(--bs-green);
}
.exchange-rates .widget-exchange-rates-table table td {
    white-space: nowrap;
}
.exchange-rates .widget-exchange-rates-table .text-right {
    text-align: right;
}
.exchange-rates .widget-exchange-rates-table .active {
    background-color: var(--bs-table-striped-bg);
}
.exchange-rates .widget-exchange-rates-table input {
    border: 0;
    padding: 0;
    background-color: transparent !important;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    text-align: right;
    width: 100%;
}
.exchange-rates .widget-exchange-rates-table input:focus {
    outline: none;
}
/* Widget Currency Table - Style end */

/* Caption - Style start */
.exchange-rates .exchange-rates-caption {
    padding: 0;
    margin: 0;
    font-size: 15px !important;
    justify-content:flex-end;
}
.exchange-rates .exchange-rates-caption-button {
    cursor: pointer;
}
.exchange-rates .exchange-rates-info-caption {
    background-color: var(--bs-light);
    padding: 8px !important;
    border: var(--bs-gray-400) solid 1px;
    display: none;
    border-radius: 5px !important;
    z-index: 99999;
    text-align: left;
    margin-top: 8px;
}
.exchange-rates .exchange-rates-info-caption p:last-child {
    margin-bottom: 0;
}
/* Caption - Style end */

/* Shortcode Badge - Style start */
.exchange-rates.shortcode-exchange-rates-badge .badge-leaders {
    padding: 0;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex!important;
    align-items: center;
}
.exchange-rates.shortcode-exchange-rates-badge .badge-leaders span:first-child {
    display: inline-flex;
    padding:0 8px;
    text-align: start;
    flex: 1 1 auto!important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: center;
}
.exchange-rates.shortcode-exchange-rates-badge .badge-leaders span + span {
    text-align: end;
    padding:0 5px;
    flex: 1 1 auto!important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* Shortcode Badge - Style end */

/* Widget Currency Converter -  Style start */
.exchange-rates .widget-exchange-rates-currency-converter {
    text-align: center;
    padding: 8px 12px !important;
    border-radius: 5px;
}
.exchange-rates .widget-exchange-rates-currency-converter.border {
    border: var(--bs-gray-400) solid 2px!important;
    margin-bottom: 8px;
}
.exchange-rates .widget-exchange-rates-currency-converter input,
.exchange-rates .widget-exchange-rates-currency-converter select {
    width: 100%;
    font-size: 16px;
    padding: 4px 8px;
    line-height: 1.5;
    color: var(--lt-color-gray-900);
    background-color: var(--bs-light);
    background-clip: padding-box;
    border: var(--bs-gray-400) solid 1px;
    appearance: none;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.exchange-rates .widget-exchange-rates-currency-converter select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232f3237' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px 12px;
    display: block !important;
    margin-bottom: 8px;
}
.exchange-rates .widget-exchange-rates-currency-converter input{
    display: inline-block!important;
    margin-right: 4px;
}
.exchange-rates .widget-exchange-rates-currency-converter input:hover,
.exchange-rates .widget-exchange-rates-currency-converter select:hover {
    background-color: var(--bs-white);
}
.exchange-rates .widget-exchange-rates-currency-converter .result {
    font-size: x-large;
}
.exchange-rates .widget-exchange-rates-currency-converter b {
    padding-bottom: 8px;
    display: block;
    font-size: large;
    font-weight: bold;
}
.exchange-rates .widget-exchange-rates-currency-converter button.swap svg {
    width: 24px;
    height:24px;
    fill: var(--lt-color-gray-700);
}
.exchange-rates .widget-exchange-rates-currency-converter button.swap {
    border-radius: 5px !important;
    border: var(--bs-gray-400) solid 1px !important;
    display: flex !important;
    justify-content: center !important;
    padding: 4px 8px !important;
    background-color: var(--bs-light) !important;
}
.exchange-rates .widget-exchange-rates-currency-converter button.swap:hover {
    background-color: var(--bs-white) !important;
}
.exchange-rates .widget-exchange-rates-currency-converter div.amount {
    margin-bottom: 8px;
}
/* Widget Currency Converter -  Style end */